In [29]:
import pandas as pd
import numpy as np
import pyodbc

In [30]:
df1 = pd.read_csv('Hospital_Provider_Cost_Report_2021.csv')
df2 = pd.read_excel('national_M2021_dl.xlsx')

In [31]:
df1.head(10)

,rpt_rec_num,Provider CCN,Hospital Name,Street Address,City,State Code,Zip Code,County,Medicare CBSA Number,Rural Versus Urban,...,Net Income from Service to Patients,Total Other Income,Total Income,Total Other Expenses,Net Income,Cost To Charge Ratio,Net Revenue from Medicaid,Medicaid Charges,Net Revenue from Stand-Alone CHIP,Stand-Alone CHIP Charges
0,692984,441314,LAUDERDALE COMMUNITY HOSPITAL,326 ASBURY RD,RIPLEY,TN,38063,LAUDERDALE,99944.0,R,...,"$-773,505","$301,956","$-471,549",NaN,"$-471,549",0.361058,"$479,217","$1,064,927",NaN,NaN
1,695374,341317,LIFEBRITE COMMUNITY HOPITAL OF STOK,1570 NC 8 & 89 HWY N,DANBURY,NC,27016,STOKES,49180.0,U,...,"$-4,033,449","$234,601","$-3,798,848","$686,278","$-4,485,126",0.421393,"$231,778","$1,874,083",NaN,NaN
2,695408,511320,JACKSON GENERAL HOSPITAL,122 PINNELL STREET,RIPLEY,WV,25271,JACKSON,16620.0,U,...,"$181,818","$102,711","$284,529",NaN,"$284,529",0.505269,"$1,801,712","$4,144,931","$34,568","$71,503"
3,695541,520011,LAKEVIEW MEDICAL CENTER OF RICE LAKE,1700 WEST STOUT STREET,RICE LAKE,WI,54868-,BARRON,99952.0,R,...,"$4,215,888","$2,218,308","$6,434,196","$322,078","$6,112,118",0.414683,"$3,143,336","$12,510,167",NaN,NaN
4,695846,520037,MARSHFIELD MEDICAL CENTER,611 ST JOSEPH AVENUE,MARSHFIELD,WI,54449,NaN,99952.0,R,...,"$-47,169,951","$44,969,213","$-2,200,738",NaN,"$-2,200,738",0.379718,"$17,596,973","$58,987,228",NaN,NaN
5,695906,30147,BANNER OCOTILLO MEDICAL CENTER,1405 S ALMA SCHOOL RD.,CHANDLER,AZ,85286,MARICOPA,38060.0,U,...,"$-8,170,066","$160,889","$-8,009,177",NaN,"$-8,009,177",0.278426,"$307,582","$5,233,404",NaN,NaN
6,696323,340141,NEW HANOVER REGIONAL MEDICAL CENTER,2131 S. 17TH ST,WILMINGTON,NC,28402,NEW HANOVER,48900.0,R,...,"$-35,863,488","$19,175,950","$-16,687,538","$225,130","$-16,912,668",0.23731,"$20,399,104","$144,283,620","$232,178","$1,620,804"
7,696374,150045,PARKVIEW - DEKALB HEALTH,1316 EAST 7TH STREET,AUBURN,IN,46706-,NaN,99915.0,R,...,"$3,432,081","$5,042,355","$8,474,436",NaN,"$8,474,436",0.229397,"$468,267","$6,791,838",NaN,NaN
8,697563,230118,MCLAREN THUMB REGION,1100 SOUTH VAN DYKE,BAD AXE,MI,48413-,HURON,99923.0,R,...,"$-1,253,814","$2,091,283","$837,469",NaN,"$837,469",0.436147,"$979,957","$4,732,678",NaN,NaN
9,699530,50660,USC NORRIS CANCER HOSPITAL,1441 EASTLAKE AVE,LOS ANGELES,CA,90033-,LOS ANGELES,31084.0,U,...,"$10,897,360","$6,951,539","$17,848,899",NaN,"$17,848,899",NaN,NaN,NaN,NaN,NaN

In [32]:
subset_dimensions = ['Provider CCN','Hospital Name','State Code','County','City','Rural Versus Urban','Medicare CBSA Number','Medicaid Charges','Stand-Alone CHIP Charges','Total Costs','Cost To Charge Ratio','Net Income','Net Revenue from Medicaid','Net Revenue from Stand-Alone CHIP','Net Income from Service to Patients','Net Revenue from Medicaid','Total Other Expenses','Fiscal Year Begin Date','Fiscal Year End Date']

In [33]:
df1 = df1[subset_dimensions]
df1.dropna(inplace=True)

In [34]:
df1.head(10)

,Provider CCN,Hospital Name,State Code,County,City,Rural Versus Urban,Medicare CBSA Number,Medicaid Charges,Stand-Alone CHIP Charges,Total Costs,Cost To Charge Ratio,Net Income,Net Revenue from Medicaid,Net Revenue from Stand-Alone CHIP,Net Income from Service to Patients,Net Revenue from Medicaid,Total Other Expenses,Fiscal Year Begin Date,Fiscal Year End Date
6,340141,NEW HANOVER REGIONAL MEDICAL CENTER,NC,NEW HANOVER,WILMINGTON,R,48900.0,"$144,283,620","$1,620,804","$330,818,093",0.23731,"$-16,912,668","$20,399,104","$232,178","$-35,863,488","$20,399,104","$225,130",2020-10-01,2021-01-31
61,341304,BERTIE MEMORIAL HOSPITAL,NC,BERTIE,WINDSOR,R,99934.0,"$4,085,177","$87,416","$19,032,247",0.429541,"$1,386,728","$1,867,178","$25,303","$3,202,075","$1,867,178","$2,804,488",2020-10-01,2021-09-30
62,341318,CHOWAN HOSPITAL INC.,NC,CHOWAN,EDENTON,R,99934.0,"$15,982,471","$191,756","$48,425,448",0.365642,"$13,507,530","$6,851,547","$53,779","$14,088,250","$6,851,547","$5,302,381",2020-10-01,2021-09-30
86,341324,THE OUTER BANKS HOSPITAL,NC,DARE,NAGS HEAD,R,99934.0,"$13,401,500","$239,650","$59,223,555",0.355038,"$26,591,135","$5,449,178","$69,415","$31,083,690","$5,449,178","$7,089,230",2020-10-01,2021-09-30
185,51315,TRINITY HOSPITAL,CA,TRINITY,WEAVERVILLE,R,99905.0,"$10,312,947","$27,188","$20,440,028",0.679888,"$10,700,717","$6,157,668","$5,670","$5,657,456","$6,157,668","$30,709",2021-01-01,2021-12-31
220,463301,PRIMARY CHILDRENS HOSPITAL,UT,SALT LAKE,SALT LAKE CITY,U,41620.0,"$403,979,723","$9,108,346","$530,736,458",0.413792,"$136,097,236","$148,283,416","$5,955,906","$58,594,261","$148,283,416","$525,356",2021-01-01,2021-12-31
255,461307,HEBER VALLEY HOSPITAL,UT,WASATCH,HEBER CITY,R,99946.0,"$6,579,452","$39,847","$33,292,673",0.393441,"$6,118,632","$4,098,839","$27,554","$5,345,290","$4,098,839",$4,2021-01-01,2021-12-31
276,61324,ASPEN VALLEY HOSPITAL DISTRICT,CO,PITKIN,ASPEN,R,99906.0,"$11,016,900","$14,654","$82,916,454",0.555172,"$14,934,673","$2,756,395","$5,474","$-3,598,892","$2,756,395","$2,213,587",2021-01-01,2021-12-31
283,450187,SCOTT & WHITE HOSPITAL BRENHAM,TX,WASHINGTON,BRENHAM,R,99945.0,"$19,533,298","$451,186","$37,645,041",0.197775,"$9,399,155","$5,356,839","$75,462","$6,094,768","$5,356,839",$1,2021-01-01,2021-12-31
308,271325,ST LUKE COMMUNITY HOSPITAL,MT,LAKE,RONAN,R,99927.0,"$12,704,423","$265,074","$40,020,484",0.701973,"$9,081,703","$6,968,099","$211,228","$-1,748,902","$6,968,099","$1,131,490",2021-01-01,2021-12-31

In [35]:
subset_dimensions = ['NAICS','NAICS_TITLE','H_PCT10','H_PCT25','H_MEDIAN','H_PCT75','H_PCT90','A_PCT10','A_PCT25','A_MEDIAN','A_PCT75','A_PCT90','H_MEAN','A_MEAN','AREA_TYPE','AREA_TITLE','OCC_CODE','OCC_TITLE','TOT_EMP','EMP_PRSE']
df2 = df2[subset_dimensions]

In [36]:
df2.head(10)

,NAICS,NAICS_TITLE,H_PCT10,H_PCT25,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,H_MEAN,A_MEAN,AREA_TYPE,AREA_TITLE,OCC_CODE,OCC_TITLE,TOT_EMP,EMP_PRSE
0,0,Cross-industry,13.97,17.14,23.11,37.01,58.4,29050,35660,48060,76980,121470,31.48,65470,1,U.S.,00-0000,All Occupations,151853870,0.0
1,0,Cross-industry,26.23,37.66,56.19,81.29,111.36,54550,78330,116880,169090,231620,66.23,137750,1,U.S.,11-0000,Management Occupations,10495770,0.4
2,0,Cross-industry,22.31,31.81,49.74,79.57,#,46400,66170,103460,165500,#,65.43,136100,1,U.S.,11-1000,Top Executives,3751510,0.4
3,0,Cross-industry,38.46,62.9,99.37,#,#,80000,130840,206680,#,#,124.47,258900,1,U.S.,11-1010,Chief Executives,211230,1.4
4,0,Cross-industry,38.46,62.9,99.37,#,#,80000,130840,206680,#,#,124.47,258900,1,U.S.,11-1011,Chief Executives,211230,1.4
5,0,Cross-industry,22.28,31.34,48.69,77.06,111.59,46340,65180,101280,160290,232110,62.18,129330,1,U.S.,11-1020,General and Operations Managers,3507810,0.4
6,0,Cross-industry,22.28,31.34,48.69,77.06,111.59,46340,65180,101280,160290,232110,62.18,129330,1,U.S.,11-1021,General and Operations Managers,3507810,0.4
7,0,Cross-industry,*,*,*,*,*,21010,28810,47290,82200,129510,*,68140,1,U.S.,11-1030,Legislators,32460,1.7
8,0,Cross-industry,*,*,*,*,*,21010,28810,47290,82200,129510,*,68140,1,U.S.,11-1031,Legislators,32460,1.7
9,0,Cross-industry,33.26,47.68,67.23,96.15,#,69170,99180,139850,199990,#,76.9,159960,1,U.S.,11-2000,"Advertising, Marketing, Promotions, Public Rel...",1070030,1.5

In [37]:
df1['Medicaid Charges'] = df1['Medicaid Charges'].replace('[\$,]', '', regex=True).astype(float)
df1['Stand-Alone CHIP Charges'] = df1['Stand-Alone CHIP Charges'].replace('[\$,]', '', regex=True).astype(float)
df1['Total Costs'] = df1['Total Costs'].replace('[\$,]', '', regex=True).astype(float)
df1['Net Income'] = df1['Net Income'].replace('[\$,]', '', regex=True).astype(float)
df1['Net Revenue from Medicaid'] = df1['Net Revenue from Medicaid'].replace('[\$,]', '', regex=True).astype(float)
df1['Net Revenue from Stand-Alone CHIP'] = df1['Net Revenue from Stand-Alone CHIP'].replace('[\$,]', '', regex=True).astype(float)
df1['Net Income from Service to Patients'] = df1['Net Income from Service to Patients'].replace('[\$,]', '', regex=True).astype(float)
df1['Net Revenue from Medicaid'] = df1['Net Revenue from Medicaid'].replace('[\$,]', '', regex=True).astype(float)
df1['Total Other Expenses'] = df1['Total Other Expenses'].replace('[\$,]', '', regex=True).astype(float)

In [38]:
df1.rename(
    columns={
        "Provider CCN": "Hospital_ID",
        "Hospital Name": "Hospital_Name",
    }
)

,Hospital_ID,Hospital_Name,State Code,County,City,Rural Versus Urban,Medicare CBSA Number,Medicaid Charges,Stand-Alone CHIP Charges,Total Costs,Cost To Charge Ratio,Net Income,Net Revenue from Medicaid,Net Revenue from Stand-Alone CHIP,Net Income from Service to Patients,Net Revenue from Medicaid,Total Other Expenses,Fiscal Year Begin Date,Fiscal Year End Date
6,340141,NEW HANOVER REGIONAL MEDICAL CENTER,NC,NEW HANOVER,WILMINGTON,R,48900.0,144283620.0,1620804.0,330818093.0,0.23731,-16912668.0,20399104.0,232178.0,-35863488.0,20399104.0,225130.0,2020-10-01,2021-01-31
61,341304,BERTIE MEMORIAL HOSPITAL,NC,BERTIE,WINDSOR,R,99934.0,4085177.0,87416.0,19032247.0,0.429541,1386728.0,1867178.0,25303.0,3202075.0,1867178.0,2804488.0,2020-10-01,2021-09-30
62,341318,CHOWAN HOSPITAL INC.,NC,CHOWAN,EDENTON,R,99934.0,15982471.0,191756.0,48425448.0,0.365642,13507530.0,6851547.0,53779.0,14088250.0,6851547.0,5302381.0,2020-10-01,2021-09-30
86,341324,THE OUTER BANKS HOSPITAL,NC,DARE,NAGS HEAD,R,99934.0,13401500.0,239650.0,59223555.0,0.355038,26591135.0,5449178.0,69415.0,31083690.0,5449178.0,7089230.0,2020-10-01,2021-09-30
185,51315,TRINITY HOSPITAL,CA,TRINITY,WEAVERVILLE,R,99905.0,10312947.0,27188.0,20440028.0,0.679888,10700717.0,6157668.0,5670.0,5657456.0,6157668.0,30709.0,2021-01-01,2021-12-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6023,450604,HILL COUNTRY MEMORIAL HOSPITAL,TX,GILLESPIE,FREDERICKSBURG,R,99945.0,9209150.0,431019.0,68425263.0,0.268762,21650898.0,3109039.0,42993.0,-9670826.0,3109039.0,-1032122.0,2021-01-01,2021-12-31
6024,450634,MEDICAL CITY DENTON,TX,DENTON,DENTON,U,19124.0,132583639.0,1057108.0,161809885.0,0.069759,50209346.0,6508700.0,25145.0,49821219.0,6508700.0,-5.0,2021-01-01,2021-12-31
6025,450638,HOUSTON NORTHWEST MEDICAL CENTER,TX,HARRIS,HOUSTON,U,26420.0,664569226.0,7074750.0,272129988.0,0.076412,12397860.0,51596209.0,513094.0,11326074.0,51596209.0,-16.0,2021-06-01,2022-05-31
6026,450672,MEDICAL CITY FORT WORTH,TX,TARRANT,FORT WORTH,U,23104.0,197488655.0,759868.0,263958551.0,0.084646,71766759.0,11649167.0,16742.0,71139780.0,11649167.0,8.0,2021-02-01,2022-01-31
6031,460044,ALTA VIEW HOSPITAL,UT,SALT LAKE,SANDY,U,41620.0,32426111.0,173859.0,101453616.0,0.303936,17479723.0,6131064.0,85681.0,15977634.0,6131064.0,10713.0,2021-01-01,2021-12-31

In [39]:
df1 = df1.loc[:, ~df1.columns.duplicated()]

In [40]:
df1['Total Revenue'] = df1['Net Income from Service to Patients'] + df1['Net Revenue from Medicaid'] + df1['Net Revenue from Stand-Alone CHIP']

In [41]:
df1['Profit Margin'] = df1['Net Income from Service to Patients'] / df1['Total Revenue']

In [42]:
df1['Cost To Revenue Ratio'] = df1['Total Costs'] / df1['Total Revenue']

In [43]:
df1.head(10)

,Provider CCN,Hospital Name,State Code,County,City,Rural Versus Urban,Medicare CBSA Number,Medicaid Charges,Stand-Alone CHIP Charges,Total Costs,...,Net Income,Net Revenue from Medicaid,Net Revenue from Stand-Alone CHIP,Net Income from Service to Patients,Total Other Expenses,Fiscal Year Begin Date,Fiscal Year End Date,Total Revenue,Profit Margin,Cost To Revenue Ratio
6,340141,NEW HANOVER REGIONAL MEDICAL CENTER,NC,NEW HANOVER,WILMINGTON,R,48900.0,144283620.0,1620804.0,330818093.0,...,-16912668.0,20399104.0,232178.0,-35863488.0,225130.0,2020-10-01,2021-01-31,-15232206.0,2.354451,-21.718331
61,341304,BERTIE MEMORIAL HOSPITAL,NC,BERTIE,WINDSOR,R,99934.0,4085177.0,87416.0,19032247.0,...,1386728.0,1867178.0,25303.0,3202075.0,2804488.0,2020-10-01,2021-09-30,5094556.0,0.628529,3.735801
62,341318,CHOWAN HOSPITAL INC.,NC,CHOWAN,EDENTON,R,99934.0,15982471.0,191756.0,48425448.0,...,13507530.0,6851547.0,53779.0,14088250.0,5302381.0,2020-10-01,2021-09-30,20993576.0,0.671074,2.306679
86,341324,THE OUTER BANKS HOSPITAL,NC,DARE,NAGS HEAD,R,99934.0,13401500.0,239650.0,59223555.0,...,26591135.0,5449178.0,69415.0,31083690.0,7089230.0,2020-10-01,2021-09-30,36602283.0,0.849228,1.618029
185,51315,TRINITY HOSPITAL,CA,TRINITY,WEAVERVILLE,R,99905.0,10312947.0,27188.0,20440028.0,...,10700717.0,6157668.0,5670.0,5657456.0,30709.0,2021-01-01,2021-12-31,11820794.0,0.478602,1.729159
220,463301,PRIMARY CHILDRENS HOSPITAL,UT,SALT LAKE,SALT LAKE CITY,U,41620.0,403979723.0,9108346.0,530736458.0,...,136097236.0,148283416.0,5955906.0,58594261.0,525356.0,2021-01-01,2021-12-31,212833583.0,0.275306,2.493669
255,461307,HEBER VALLEY HOSPITAL,UT,WASATCH,HEBER CITY,R,99946.0,6579452.0,39847.0,33292673.0,...,6118632.0,4098839.0,27554.0,5345290.0,4.0,2021-01-01,2021-12-31,9471683.0,0.564344,3.514969
276,61324,ASPEN VALLEY HOSPITAL DISTRICT,CO,PITKIN,ASPEN,R,99906.0,11016900.0,14654.0,82916454.0,...,14934673.0,2756395.0,5474.0,-3598892.0,2213587.0,2021-01-01,2021-12-31,-837023.0,4.299633,-99.061142
283,450187,SCOTT & WHITE HOSPITAL BRENHAM,TX,WASHINGTON,BRENHAM,R,99945.0,19533298.0,451186.0,37645041.0,...,9399155.0,5356839.0,75462.0,6094768.0,1.0,2021-01-01,2021-12-31,11527069.0,0.528735,3.265795
308,271325,ST LUKE COMMUNITY HOSPITAL,MT,LAKE,RONAN,R,99927.0,12704423.0,265074.0,40020484.0,...,9081703.0,6968099.0,211228.0,-1748902.0,1131490.0,2021-01-01,2021-12-31,5430425.0,-0.322056,7.369678

In [44]:
df1.head(10)

,Provider CCN,Hospital Name,State Code,County,City,Rural Versus Urban,Medicare CBSA Number,Medicaid Charges,Stand-Alone CHIP Charges,Total Costs,...,Net Income,Net Revenue from Medicaid,Net Revenue from Stand-Alone CHIP,Net Income from Service to Patients,Total Other Expenses,Fiscal Year Begin Date,Fiscal Year End Date,Total Revenue,Profit Margin,Cost To Revenue Ratio
6,340141,NEW HANOVER REGIONAL MEDICAL CENTER,NC,NEW HANOVER,WILMINGTON,R,48900.0,144283620.0,1620804.0,330818093.0,...,-16912668.0,20399104.0,232178.0,-35863488.0,225130.0,2020-10-01,2021-01-31,-15232206.0,2.354451,-21.718331
61,341304,BERTIE MEMORIAL HOSPITAL,NC,BERTIE,WINDSOR,R,99934.0,4085177.0,87416.0,19032247.0,...,1386728.0,1867178.0,25303.0,3202075.0,2804488.0,2020-10-01,2021-09-30,5094556.0,0.628529,3.735801
62,341318,CHOWAN HOSPITAL INC.,NC,CHOWAN,EDENTON,R,99934.0,15982471.0,191756.0,48425448.0,...,13507530.0,6851547.0,53779.0,14088250.0,5302381.0,2020-10-01,2021-09-30,20993576.0,0.671074,2.306679
86,341324,THE OUTER BANKS HOSPITAL,NC,DARE,NAGS HEAD,R,99934.0,13401500.0,239650.0,59223555.0,...,26591135.0,5449178.0,69415.0,31083690.0,7089230.0,2020-10-01,2021-09-30,36602283.0,0.849228,1.618029
185,51315,TRINITY HOSPITAL,CA,TRINITY,WEAVERVILLE,R,99905.0,10312947.0,27188.0,20440028.0,...,10700717.0,6157668.0,5670.0,5657456.0,30709.0,2021-01-01,2021-12-31,11820794.0,0.478602,1.729159
220,463301,PRIMARY CHILDRENS HOSPITAL,UT,SALT LAKE,SALT LAKE CITY,U,41620.0,403979723.0,9108346.0,530736458.0,...,136097236.0,148283416.0,5955906.0,58594261.0,525356.0,2021-01-01,2021-12-31,212833583.0,0.275306,2.493669
255,461307,HEBER VALLEY HOSPITAL,UT,WASATCH,HEBER CITY,R,99946.0,6579452.0,39847.0,33292673.0,...,6118632.0,4098839.0,27554.0,5345290.0,4.0,2021-01-01,2021-12-31,9471683.0,0.564344,3.514969
276,61324,ASPEN VALLEY HOSPITAL DISTRICT,CO,PITKIN,ASPEN,R,99906.0,11016900.0,14654.0,82916454.0,...,14934673.0,2756395.0,5474.0,-3598892.0,2213587.0,2021-01-01,2021-12-31,-837023.0,4.299633,-99.061142
283,450187,SCOTT & WHITE HOSPITAL BRENHAM,TX,WASHINGTON,BRENHAM,R,99945.0,19533298.0,451186.0,37645041.0,...,9399155.0,5356839.0,75462.0,6094768.0,1.0,2021-01-01,2021-12-31,11527069.0,0.528735,3.265795
308,271325,ST LUKE COMMUNITY HOSPITAL,MT,LAKE,RONAN,R,99927.0,12704423.0,265074.0,40020484.0,...,9081703.0,6968099.0,211228.0,-1748902.0,1131490.0,2021-01-01,2021-12-31,5430425.0,-0.322056,7.369678

In [45]:
df1['Fiscal Year Begin Date'] = pd.to_datetime(df1['Fiscal Year Begin Date'])
df1['Fiscal Year End Date'] = pd.to_datetime(df1['Fiscal Year End Date'])

In [46]:
df1['Fiscal Year Beginning'] = df1['Fiscal Year Begin Date'].dt.year
df1['Quarter'] = df1['Fiscal Year Begin Date'].dt.quarter
df1['Begin Month'] = df1['Fiscal Year Begin Date'].dt.month
df1['Begin Day'] = df1['Fiscal Year Begin Date'].dt.day
df1['Fiscal Year End'] = df1['Fiscal Year End Date'].dt.year
df1['End Month'] = df1['Fiscal Year End Date'].dt.month
df1['End Day'] = df1['Fiscal Year End Date'].dt.day

In [47]:
df1.head(10)

,Provider CCN,Hospital Name,State Code,County,City,Rural Versus Urban,Medicare CBSA Number,Medicaid Charges,Stand-Alone CHIP Charges,Total Costs,...,Total Revenue,Profit Margin,Cost To Revenue Ratio,Fiscal Year Beginning,Quarter,Begin Month,Begin Day,Fiscal Year End,End Month,End Day
6,340141,NEW HANOVER REGIONAL MEDICAL CENTER,NC,NEW HANOVER,WILMINGTON,R,48900.0,144283620.0,1620804.0,330818093.0,...,-15232206.0,2.354451,-21.718331,2020,4,10,1,2021,1,31
61,341304,BERTIE MEMORIAL HOSPITAL,NC,BERTIE,WINDSOR,R,99934.0,4085177.0,87416.0,19032247.0,...,5094556.0,0.628529,3.735801,2020,4,10,1,2021,9,30
62,341318,CHOWAN HOSPITAL INC.,NC,CHOWAN,EDENTON,R,99934.0,15982471.0,191756.0,48425448.0,...,20993576.0,0.671074,2.306679,2020,4,10,1,2021,9,30
86,341324,THE OUTER BANKS HOSPITAL,NC,DARE,NAGS HEAD,R,99934.0,13401500.0,239650.0,59223555.0,...,36602283.0,0.849228,1.618029,2020,4,10,1,2021,9,30
185,51315,TRINITY HOSPITAL,CA,TRINITY,WEAVERVILLE,R,99905.0,10312947.0,27188.0,20440028.0,...,11820794.0,0.478602,1.729159,2021,1,1,1,2021,12,31
220,463301,PRIMARY CHILDRENS HOSPITAL,UT,SALT LAKE,SALT LAKE CITY,U,41620.0,403979723.0,9108346.0,530736458.0,...,212833583.0,0.275306,2.493669,2021,1,1,1,2021,12,31
255,461307,HEBER VALLEY HOSPITAL,UT,WASATCH,HEBER CITY,R,99946.0,6579452.0,39847.0,33292673.0,...,9471683.0,0.564344,3.514969,2021,1,1,1,2021,12,31
276,61324,ASPEN VALLEY HOSPITAL DISTRICT,CO,PITKIN,ASPEN,R,99906.0,11016900.0,14654.0,82916454.0,...,-837023.0,4.299633,-99.061142,2021,1,1,1,2021,12,31
283,450187,SCOTT & WHITE HOSPITAL BRENHAM,TX,WASHINGTON,BRENHAM,R,99945.0,19533298.0,451186.0,37645041.0,...,11527069.0,0.528735,3.265795,2021,1,1,1,2021,12,31
308,271325,ST LUKE COMMUNITY HOSPITAL,MT,LAKE,RONAN,R,99927.0,12704423.0,265074.0,40020484.0,...,5430425.0,-0.322056,7.369678,2021,1,1,1,2021,12,31

In [48]:
df2.head(10)

,NAICS,NAICS_TITLE,H_PCT10,H_PCT25,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,H_MEAN,A_MEAN,AREA_TYPE,AREA_TITLE,OCC_CODE,OCC_TITLE,TOT_EMP,EMP_PRSE
0,0,Cross-industry,13.97,17.14,23.11,37.01,58.4,29050,35660,48060,76980,121470,31.48,65470,1,U.S.,00-0000,All Occupations,151853870,0.0
1,0,Cross-industry,26.23,37.66,56.19,81.29,111.36,54550,78330,116880,169090,231620,66.23,137750,1,U.S.,11-0000,Management Occupations,10495770,0.4
2,0,Cross-industry,22.31,31.81,49.74,79.57,#,46400,66170,103460,165500,#,65.43,136100,1,U.S.,11-1000,Top Executives,3751510,0.4
3,0,Cross-industry,38.46,62.9,99.37,#,#,80000,130840,206680,#,#,124.47,258900,1,U.S.,11-1010,Chief Executives,211230,1.4
4,0,Cross-industry,38.46,62.9,99.37,#,#,80000,130840,206680,#,#,124.47,258900,1,U.S.,11-1011,Chief Executives,211230,1.4
5,0,Cross-industry,22.28,31.34,48.69,77.06,111.59,46340,65180,101280,160290,232110,62.18,129330,1,U.S.,11-1020,General and Operations Managers,3507810,0.4
6,0,Cross-industry,22.28,31.34,48.69,77.06,111.59,46340,65180,101280,160290,232110,62.18,129330,1,U.S.,11-1021,General and Operations Managers,3507810,0.4
7,0,Cross-industry,*,*,*,*,*,21010,28810,47290,82200,129510,*,68140,1,U.S.,11-1030,Legislators,32460,1.7
8,0,Cross-industry,*,*,*,*,*,21010,28810,47290,82200,129510,*,68140,1,U.S.,11-1031,Legislators,32460,1.7
9,0,Cross-industry,33.26,47.68,67.23,96.15,#,69170,99180,139850,199990,#,76.9,159960,1,U.S.,11-2000,"Advertising, Marketing, Promotions, Public Rel...",1070030,1.5

In [49]:
df2.replace({'#': np.nan, "*": np.nan}, inplace=True)

C:\Users\Akhilesh Warty\AppData\Local\Temp\ipykernel_12164\1234199597.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2.replace({'#': np.nan, "*": np.nan}, inplace=True)

In [50]:
df2 = df2.apply(pd.to_numeric, errors='ignore')

C:\Users\Akhilesh Warty\AppData\Local\Temp\ipykernel_12164\3245587114.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df2 = df2.apply(pd.to_numeric, errors='ignore')

In [51]:
for column in df2.columns:
    if df2[column].dtype == np.float64:
        df2[column] = df2[column].fillna(df2[column].median())

In [52]:
df2

,NAICS,NAICS_TITLE,H_PCT10,H_PCT25,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,H_MEAN,A_MEAN,AREA_TYPE,AREA_TITLE,OCC_CODE,OCC_TITLE,TOT_EMP,EMP_PRSE
0,0,Cross-industry,13.97,17.14,23.11,37.01,58.400,29050.0,35660.0,48060.0,76980.0,121470.0,31.48,65470.0,1,U.S.,00-0000,All Occupations,151853870,0.0
1,0,Cross-industry,26.23,37.66,56.19,81.29,111.360,54550.0,78330.0,116880.0,169090.0,231620.0,66.23,137750.0,1,U.S.,11-0000,Management Occupations,10495770,0.4
2,0,Cross-industry,22.31,31.81,49.74,79.57,40.725,46400.0,66170.0,103460.0,165500.0,87660.0,65.43,136100.0,1,U.S.,11-1000,Top Executives,3751510,0.4
3,0,Cross-industry,38.46,62.90,99.37,33.52,40.725,80000.0,130840.0,206680.0,72080.0,87660.0,124.47,258900.0,1,U.S.,11-1010,Chief Executives,211230,1.4
4,0,Cross-industry,38.46,62.90,99.37,33.52,40.725,80000.0,130840.0,206680.0,72080.0,87660.0,124.47,258900.0,1,U.S.,11-1011,Chief Executives,211230,1.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1398,0,Cross-industry,14.45,17.36,22.00,28.06,32.680,30050.0,36100.0,45760.0,58360.0,67970.0,22.99,47810.0,1,U.S.,53-7081,Refuse and Recyclable Material Collectors,135430,1.3
1399,0,Cross-industry,18.68,22.35,28.18,34.96,42.700,38850.0,46500.0,58620.0,72710.0,88810.0,29.10,60530.0,1,U.S.,53-7120,"Tank Car, Truck, and Ship Loaders",11400,4.7
1400,0,Cross-industry,18.68,22.35,28.18,34.96,42.700,38850.0,46500.0,58620.0,72710.0,88810.0,29.10,60530.0,1,U.S.,53-7121,"Tank Car, Truck, and Ship Loaders",11400,4.7
1401,0,Cross-industry,15.50,16.75,19.38,23.30,30.500,32240.0,34830.0,40310.0,48460.0,63430.0,22.04,45840.0,1,U.S.,53-7190,Miscellaneous Material Moving Workers,23970,3.4
1402,0,Cross-industry,15.50,16.75,19.38,23.30,30.500,32240.0,34830.0,40310.0,48460.0,63430.0,22.04,45840.0,1,U.S.,53-7199,"Material Moving Workers, All Other",23970,3.4

In [53]:
df1['Hospital_Key'] = range(1, 1+len(df1))

In [54]:
df1.head(10)

,Provider CCN,Hospital Name,State Code,County,City,Rural Versus Urban,Medicare CBSA Number,Medicaid Charges,Stand-Alone CHIP Charges,Total Costs,...,Profit Margin,Cost To Revenue Ratio,Fiscal Year Beginning,Quarter,Begin Month,Begin Day,Fiscal Year End,End Month,End Day,Hospital_Key
6,340141,NEW HANOVER REGIONAL MEDICAL CENTER,NC,NEW HANOVER,WILMINGTON,R,48900.0,144283620.0,1620804.0,330818093.0,...,2.354451,-21.718331,2020,4,10,1,2021,1,31,1
61,341304,BERTIE MEMORIAL HOSPITAL,NC,BERTIE,WINDSOR,R,99934.0,4085177.0,87416.0,19032247.0,...,0.628529,3.735801,2020,4,10,1,2021,9,30,2
62,341318,CHOWAN HOSPITAL INC.,NC,CHOWAN,EDENTON,R,99934.0,15982471.0,191756.0,48425448.0,...,0.671074,2.306679,2020,4,10,1,2021,9,30,3
86,341324,THE OUTER BANKS HOSPITAL,NC,DARE,NAGS HEAD,R,99934.0,13401500.0,239650.0,59223555.0,...,0.849228,1.618029,2020,4,10,1,2021,9,30,4
185,51315,TRINITY HOSPITAL,CA,TRINITY,WEAVERVILLE,R,99905.0,10312947.0,27188.0,20440028.0,...,0.478602,1.729159,2021,1,1,1,2021,12,31,5
220,463301,PRIMARY CHILDRENS HOSPITAL,UT,SALT LAKE,SALT LAKE CITY,U,41620.0,403979723.0,9108346.0,530736458.0,...,0.275306,2.493669,2021,1,1,1,2021,12,31,6
255,461307,HEBER VALLEY HOSPITAL,UT,WASATCH,HEBER CITY,R,99946.0,6579452.0,39847.0,33292673.0,...,0.564344,3.514969,2021,1,1,1,2021,12,31,7
276,61324,ASPEN VALLEY HOSPITAL DISTRICT,CO,PITKIN,ASPEN,R,99906.0,11016900.0,14654.0,82916454.0,...,4.299633,-99.061142,2021,1,1,1,2021,12,31,8
283,450187,SCOTT & WHITE HOSPITAL BRENHAM,TX,WASHINGTON,BRENHAM,R,99945.0,19533298.0,451186.0,37645041.0,...,0.528735,3.265795,2021,1,1,1,2021,12,31,9
308,271325,ST LUKE COMMUNITY HOSPITAL,MT,LAKE,RONAN,R,99927.0,12704423.0,265074.0,40020484.0,...,-0.322056,7.369678,2021,1,1,1,2021,12,31,10

In [55]:
date_dimension = pd.DataFrame({
    'Date_Key': range(1, 1+len(df1['Fiscal Year Begin Date'].unique())),
    'Date': df1['Fiscal Year Begin Date'].unique(),
    'Year': pd.Series(pd.to_datetime(df1['Fiscal Year Begin Date'].unique())).dt.year,
    'Quarter': pd.Series(pd.to_datetime(df1['Fiscal Year Begin Date'].unique())).dt.quarter,
    'Month': pd.Series(pd.to_datetime(df1['Fiscal Year Begin Date'].unique())).dt.month,
    'Day': pd.Series(pd.to_datetime(df1['Fiscal Year Begin Date'].unique())).dt.day
})

In [56]:
date_dimension.reset_index(drop=True, inplace=True)
date_dimension.head(10)

   Date_Key       Date  Year  Quarter  Month  Day
0         1 2020-10-01  2020        4     10    1
1         2 2021-01-01  2021        1      1    1
2         3 2021-03-01  2021        1      3    1
3         4 2021-07-01  2021        3      7    1
4         5 2020-12-01  2020        4     12    1
5         6 2020-11-01  2020        4     11    1
6         7 2021-06-01  2021        2      6    1
7         8 2021-08-01  2021        3      8    1
8         9 2021-09-01  2021        3      9    1
9        10 2021-04-06  2021        2      4    6

In [57]:
HospitalInfo = pd.DataFrame({
    'ProviderCCN': df1['Provider CCN'],
    'HospitalName': df1['Hospital Name'],
    'City': df1['City'],
    'StateCode': df1['State Code'],
    'County': df1['County'],
    'RuralVersusUrban': df1['Rural Versus Urban'],
})
HospitalInfo.drop_duplicates(subset=['ProviderCCN'], keep='first', inplace=True)

In [58]:
HospitalInfo.reset_index(drop=True, inplace=True)
HospitalInfo

,ProviderCCN,HospitalName,City,StateCode,County,RuralVersusUrban
0,340141,NEW HANOVER REGIONAL MEDICAL CENTER,WILMINGTON,NC,NEW HANOVER,R
1,341304,BERTIE MEMORIAL HOSPITAL,WINDSOR,NC,BERTIE,R
2,341318,CHOWAN HOSPITAL INC.,EDENTON,NC,CHOWAN,R
3,341324,THE OUTER BANKS HOSPITAL,NAGS HEAD,NC,DARE,R
4,51315,TRINITY HOSPITAL,WEAVERVILLE,CA,TRINITY,R
...,...,...,...,...,...,...
355,450604,HILL COUNTRY MEMORIAL HOSPITAL,FREDERICKSBURG,TX,GILLESPIE,R
356,450634,MEDICAL CITY DENTON,DENTON,TX,DENTON,U
357,450638,HOUSTON NORTHWEST MEDICAL CENTER,HOUSTON,TX,HARRIS,U
358,450672,MEDICAL CITY FORT WORTH,FORT WORTH,TX,TARRANT,U
359,460044,ALTA VIEW HOSPITAL,SANDY,UT,SALT LAKE,U

In [59]:
dateId = df1.merge(date_dimension, left_on='Fiscal Year Begin Date', right_on='Date', how='inner')['Date_Key']

In [60]:
FinancialMeasurement = pd.DataFrame({
    'ID' : range(1, 1+len(df1)),
    'ProviderCCN': df1['Provider CCN'],
    'MedicaidCharges': df1['Medicaid Charges'],
    'StandAloneCHIPCharges': df1['Stand-Alone CHIP Charges'],
    'TotalIncome': df1['Total Revenue'],
    'Profit': df1['Total Revenue'] - df1['Total Costs'],
    'NetIncome': df1['Net Income'],
    'Date': df1['Fiscal Year Begin Date'],
})

In [61]:
FinancialMeasurement = FinancialMeasurement.merge(date_dimension[['Date','Date_Key']], left_on='Date', right_on='Date', how='inner')[['ID','ProviderCCN','MedicaidCharges','StandAloneCHIPCharges','TotalIncome','Profit','NetIncome','Date_Key']]

In [62]:
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=localhost;'
    'UID=sa;'
    'PWD=900439423aA;'
    'DATABASE=CS689Project;'
    'Trusted_Connection=yes;'
)
cursor = conn.cursor()

In [63]:
for index,row in date_dimension.iterrows():
    cursor.execute(
    "INSERT INTO DateDim (Date_Key,DATE, YEAR, QUARTER, MONTH, DAY) VALUES (?,?, ?, ?, ?, ?)", 
    row['Date_Key'],row['Date'], row['Year'], row['Quarter'], row['Month'], row['Day']
)

conn.commit()

IntegrityError: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__DateDim__C9FCE81185A1364F'. Cannot insert duplicate key in object 'dbo.DateDim'. The duplicate key value is (1). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")

In [ ]:
for index,row in HospitalInfo.iterrows():
    cursor.execute(
    "INSERT INTO HospitalDim (ProviderCCN, HospitalName, City, StateCode, County, RuralVsUrban) VALUES (?, ?, ?, ?, ?, ?)", 
    row['ProviderCCN'], row['HospitalName'], row['City'], row['StateCode'], row['County'], row['RuralVersusUrban']
)
    
conn.commit()

In [ ]:
for index,row in FinancialMeasurement.iterrows():
    cursor.execute(
    "INSERT INTO FinancialMeasurementFact (ProviderCCN, MedicaidCharges, CHIPCharges, TotalIncome, Profit, NetIncome,DateID) VALUES (?, ?, ?, ?, ?, ?,?)", 
    row['ProviderCCN'], row['MedicaidCharges'], row['StandAloneCHIPCharges'], row['TotalIncome'], row['Profit'], row['NetIncome'], row['Date_Key']
)

In [ ]:
conn.commit()

## Maintaining SCD

In [1]:
import pandas as pd
import numpy as np
import pyodbc
from datetime import datetime

In [ ]:
df1 = pd.read_csv('Hospital_Provider_Cost_Report_2021.csv')
df2 = pd.read_excel('national_M2021_dl.xlsx')

In [4]:
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=localhost;'
    'UID=sa;'
    'PWD=900439423aA;'
    'DATABASE=CS689Project;'
    'Trusted_Connection=yes;'
)
cursor = conn.cursor()

In [76]:
updated_data = pd.DataFrame({
    'ProviderCCN': [441314, 341317, 105],  # Existing and new records
    'HospitalName': ['Hospital A', 'Hospital B Updated', 'Hospital C'],  # Record 102 updated
    'StateCode': ['CA', 'NY', 'TX'],
    'County': ['Los Angeles', 'Queens', 'Dallas'],
    'RuralVsUrban': ['Urban', 'Urban', 'Rural'],
    'City': ['Los Angeles', 'New York', 'Dallas']
})

In [77]:
current_date = datetime.now()

In [78]:
existing_data_query = """
SELECT ProviderCCN, HospitalName, City, StateCode, County, RuralVsUrban, EffectiveDate, ExpirationDate, Is_Current
FROM HospitalDim WHERE Is_Current = 1
"""
existing_data = pd.read_sql(existing_data_query, conn)

C:\Users\Akhilesh Warty\AppData\Local\Temp\ipykernel_12164\2426621260.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  existing_data = pd.read_sql(existing_data_query, conn)

In [79]:
existing_data

,ProviderCCN,HospitalName,City,StateCode,County,RuralVsUrban,EffectiveDate,ExpirationDate,Is_Current
0,103,Hospital C,Dallas,TX,Dallas,Rural,2024-12-03,9999-12-31,True
1,10045,FAYETTE MEDICAL CENTER,FAYETTE,AL,FAYETTE,R,2024-11-23,9999-12-31,True
2,10087,USA HEALTH UNIVERSITY HOSPITAL,MOBILE,AL,MOBILE,U,2024-11-23,9999-12-31,True
3,10095,HALE COUNTY HOSPITAL,GREENSBORO,AL,HALE,U,2024-11-23,9999-12-31,True
4,10144,SPRINGHILL MEMORIAL HOSPITAL,MOBILE,AL,MOBILE,U,2024-11-23,9999-12-31,True
...,...,...,...,...,...,...,...,...,...
358,670080,SETON MEDICAL CENTER HARKER HEIGHTS,HARKER HEIGHTS,TX,BELL,U,2024-11-23,9999-12-31,True
359,670088,COLLEGE STATION HOSPITAL,COLLEGE STATION,TX,BRAZOS,U,2024-11-23,9999-12-31,True
360,670103,MEDICAL CITY ALLIANCE,FORT WORTH,TX,TARRANT,U,2024-11-23,9999-12-31,True
361,670143,ASCENSION SETON BASTROP,BASTROP,TX,BASTROP,U,2024-11-23,9999-12-31,True
362,670300,METHODIST MIDLOTHIAN MEDICAL CENTER,MIDLOTHIAN,TX,ELLIS,U,2024-11-23,9999-12-31,True

In [80]:
# Iterate through rows of incoming data
for index, row in HospitalInfo.iterrows():
    # Check if the ProviderCCN exists in the current active data
    existing_record = existing_data[existing_data['ProviderCCN'] == row['ProviderCCN']]

    if not existing_record.empty:
        # Check if any attributes have changed
        has_changes = (
            (existing_record.iloc[0]['HospitalName'] != row['HospitalName']) or
            (existing_record.iloc[0]['City'] != row['City']) or
            (existing_record.iloc[0]['StateCode'] != row['StateCode']) or
            (existing_record.iloc[0]['County'] != row['County']) or
            (existing_record.iloc[0]['RuralVsUrban'] != row['RuralVersusUrban'])
        )
        if has_changes:
            # Expire the old record
            print("Record Updated")
            cursor.execute("""
                UPDATE HospitalDim
                SET ExpirationDate = ?, Is_Current = 0
                WHERE ProviderCCN = ? AND Is_Current = 1
            """, (datetime.now().strftime('%Y-%m-%d'), row['ProviderCCN']))

            # Insert the new record
            cursor.execute("""
                INSERT INTO HospitalDim (
                    ProviderCCN, HospitalName, City, StateCode, County, RuralVsUrban, 
                    EffectiveDate, ExpirationDate, Is_Current
                ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
            """, (
                row['ProviderCCN'], row['HospitalName'], row['City'], row['StateCode'], row['County'],
                row['RuralVersusUrban'], datetime.now().strftime('%Y-%m-%d'), '9999-12-31', 1
            ))
    else:
        # New record: Insert directly
        print("New Record")
        cursor.execute("""
            INSERT INTO HospitalDim (
                ProviderCCN, HospitalName, City, StateCode, County, RuralVsUrban, 
                EffectiveDate, ExpirationDate, Is_Current
            ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
        """, (
            row['ProviderCCN'], row['HospitalName'], row['City'], row['StateCode'], row['County'],
            row['RuralVersusUrban'], datetime.now().strftime('%Y-%m-%d'), '9999-12-31', 1
        ))

In [81]:
conn.commit()

In [5]:
cursor.close()
conn.close()

In [2]:
# Establish database connection
def get_db_connection():
    return pyodbc.connect(
        "Driver={ODBC Driver 17 for SQL Server};"
        "Server=localhost;"
        "Database=CS689Project;"
        "Trusted_Connection=yes;"
    )

# Fetch existing active records from the database
def fetch_existing_hospital_data(conn):
    query = """
    SELECT ProviderCCN, HospitalName, City, StateCode, County, RuralVsUrban, EffectiveDate, ExpirationDate, Is_Current
    FROM HospitalDim WHERE Is_Current = 1
    """
    return pd.read_sql(query, conn)

# Check if a record has changes
def has_record_changed(existing_record, new_record):
    return (
        (existing_record['HospitalName'] != new_record['HospitalName']) or
        (existing_record['City'] != new_record['City']) or
        (existing_record['StateCode'] != new_record['StateCode']) or
        (existing_record['County'] != new_record['County']) or
        (existing_record['RuralVsUrban'] != new_record['RuralVersusUrban'])
    )

# Update existing record to expire it
def expire_record(cursor, provider_ccn):
    cursor.execute("""
        UPDATE HospitalDim
        SET ExpirationDate = ?, Is_Current = 0
        WHERE ProviderCCN = ? AND Is_Current = 1
    """, (datetime.now().strftime('%Y-%m-%d'), provider_ccn))
    print(f"Rows affected for ProviderCCN {provider_ccn}: {cursor.rowcount}")


# Insert a new record
def insert_new_record(cursor, row):
    cursor.execute("""
        INSERT INTO HospitalDim (
            ProviderCCN, HospitalName, City, StateCode, County, RuralVsUrban, 
            EffectiveDate, ExpirationDate, Is_Current
        ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
    """, (
        row['ProviderCCN'], row['HospitalName'], row['City'], row['StateCode'], row['County'],
        row['RuralVersusUrban'], datetime.now().strftime('%Y-%m-%d'), '9999-12-31', 1
    ))

# Process incoming hospital data
def process_hospital_data(new_data, existing_data, conn):
    cursor = conn.cursor()
    for _, row in new_data.iterrows():
        # Check if the ProviderCCN exists in the current active data
        existing_record = existing_data[existing_data['ProviderCCN'] == row['ProviderCCN']]

        if not existing_record.empty:
            # Check if any attributes have changed
            if has_record_changed(existing_record.iloc[0], row):
                expire_record(cursor, row['ProviderCCN'])
                insert_new_record(cursor, row)
        else:
            # New record: Insert directly
            insert_new_record(cursor, row)
    conn.commit()
    cursor.close()

# Main function to orchestrate the SCD2 update
def main():
    # Example DataFrame to simulate delta data
    new_hospital_data = pd.DataFrame({
        'ProviderCCN': [10045, 102, 103],  # Existing and new ProviderCCNs
        'HospitalName': ['Hospital A', 'Hospital B Updated', 'Hospital C'],
        'City': ['Los Angeles', 'New York', 'Dallas'],
        'StateCode': ['CA', 'NY', 'TX'],
        'County': ['Los Angeles', 'Queens', 'Dallas'],
        'RuralVersusUrban': ['Urban', 'Urban', 'Rural']
    })

    # Establish database connection
    conn = get_db_connection()

    # Fetch existing data
    existing_hospital_data = fetch_existing_hospital_data(conn)

    # Process the data
    process_hospital_data(new_hospital_data, existing_hospital_data, conn)

    # Close connection
    conn.close()

# Execute the main function
if __name__ == "__main__":
    main()

C:\Users\Akhilesh Warty\AppData\Local\Temp\ipykernel_14024\1252360326.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(query, conn)

Rows affected for ProviderCCN 10045: 1

IntegrityError: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__Hospital__E26623D3CD562EB1'. Cannot insert duplicate key in object 'dbo.HospitalDim'. The duplicate key value is (10045). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")

In [6]:
def load_staging_table(df, table_name, conn):
    """
    Load the DataFrame into the specified staging table.
    """
    cursor = conn.cursor()
    columns = ', '.join(df.columns)
    placeholders = ', '.join(['?'] * len(df.columns))
    sql = f"INSERT INTO {table_name} ({columns}) VALUES ({placeholders})"
    for _, row in df.iterrows():
        cursor.execute(sql, tuple(row))
    conn.commit()

def fetch_changed_records(conn):
    """
    Fetch records that have changes by comparing staging and main tables.
    """
    cursor = conn.cursor()
    # Example for detecting changes in HospitalDim:
    query = """
        SELECT s.*
        FROM Staging_HospitalInfo s
        LEFT JOIN HospitalDim h
        ON s.ProviderCCN = h.ProviderCCN
        WHERE h.HospitalName <> s.HospitalName
           OR h.City <> s.City
           OR h.StateCode <> s.StateCode
           OR h.County <> s.County
           OR h.RuralVsUrban <> s.RuralVsUrban
           OR h.ProviderCCN IS NULL; -- New records
    """
    cursor.execute(query)
    # Fetch and convert to a DataFrame for processing
    columns = [desc[0] for desc in cursor.description]
    records = cursor.fetchall()
    return pd.DataFrame.from_records(records, columns=columns)

In [7]:
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=localhost;'
    'UID=sa;'
    'PWD=900439423aA;'
    'DATABASE=CS689Project;'
    'Trusted_Connection=yes;'
)
cursor = conn.cursor()

In [11]:
updated_data = pd.DataFrame({
    'ProviderCCN': [101, 341317, 105],  # Existing and new records
    'HospitalName': ['Hospital A', 'Hospital B Updated', 'Hospital C'],  # Record 102 updated
    'StateCode': ['CA', 'NY', 'TX'],
    'County': ['Los Angeles', 'Queens', 'Dallas'],
    'RuralVsUrban': ['Urban', 'Urban', 'Rural'],
    'City': ['Los Angeles', 'New York', 'Dallas']
})

In [12]:
changed_records = fetch_changed_records(conn)

In [13]:
changed_records

Empty DataFrame
Columns: [ProviderCCN, HospitalName, City, StateCode, County, RuralVsUrban, LoadDate]
Index: []